<!-- Start -->

<div class="inner-main mb-5 pb-0">
<h1 class="heading-one ">Job Title</h1>
<div class="row  text-clr">
  <div class="col-lg-3 col-md-4 col-sm-6  form-group">
    <label>Job Title</label>
    <input type="text" name="" placeholder="Enter Job Title" class="form-control">
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6  form-group">
    <label>JD</label>
    <input type="text" name="" placeholder="Enter JD" class="form-control">
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6  form-group">
    <label>Skill</label>
    <input type="text" name="" placeholder="Enter Skill" class="form-control">
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6  form-group">
    <label>Notice Period</label>
    <input type="text" name="" placeholder="Enter Notice Period" class="form-control">
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6  form-group">
    <label>Probation Period</label>
    <input type="text" name="" placeholder="Enter Probation Period" class="form-control">
  </div>
  <div class="col-lg-9 col-md-8 col-sm-6 text-right"> <a href="" class="btn mtr-g-grn btn-l ripplelink pull-right" data-toggle="modal" data-target="#addround"><i class="fas fa-plus"></i>Add Round</a> </div>
</div>
<div class="row">
<div class="col-sm-12">
<h2 class="header-two"><i class="fas fa-user-cog"></i>Round Configuration</h2>
<!-- tab--->
<div class="tab-main tab-main-scd mb-3">
<ul id="tabs" class="nav nav-tabs " role="tablist">
  <li class="nav-item"> <a id="tab-B" href="#leaves" class="nav-link active ripplelink" data-toggle="tab" role="tab"><strong>Round 1</strong><span>Face to Face Interview</span></a> </li>
  <li class="nav-item"> <a id="tab-C" href="#asset" class="nav-link ripplelink" data-toggle="tab" role="tab"><strong>Round 2</strong><span>Face to Face Interview</span></a> </li>
  <li class="nav-item"> <a id="tab-d" href="#salary" class="nav-link ripplelink" data-toggle="tab" role="tab"><strong>Round 3</strong><span>Face to Face Interview</span></a> </li>
</ul>
<div id="content" class="tab-content shadow-box p-0" role="tablist">
  <div id="leaves" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-B">
    <div class="card-header" role="tab" id="heading-B">
      <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">Round 1</a> </h5>
    </div>
    <div id="collapse-B" class="collapse show" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
      <div class="card-body">
        <!----->
        <div class="row">
          <div class="col-sm-12"> <strong>Description</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu metus nec est consequat pharetra id at ligula. Curabitur nec lacus eget ex elementum blandit sed quis nulla. Integer luctus tellus dignissim volutpat lobortis. Nam tristique lacinia sapien, vel elementum ex. Sed eget ligula laoreet, tincidunt purus nec, rutrum ipsum. Fusce euismod tortor sit amet egestas tempus.</p>
          </div>
          <div class="col-sm-12"> <strong class="green-clr">Panel Setting</strong>
            <div class="table-responsive">
              <table  class="table">
                <thead>
                <th>Member Type</th>
                  <th>Member Type</th>
                  <th>Email Id</th>
                  </thead>
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>Internal</td>
                    <td>demo@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td>Internal</td>
                    <td>demo@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td>Internal</td>
                    <td>demo@gmail.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!----->
      </div>
    </div>
  </div>
  <div id="asset" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
    <div class="card-header" role="tab" id="heading-C">
      <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="collapse-C">Round 2</a> </h5>
    </div>
    <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
      <div class="card-body">
        <!----->
        <div class="row">
          <div class="col-sm-12"> <strong>Description</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu metus nec est consequat pharetra id at ligula. Curabitur nec lacus eget ex elementum blandit sed quis nulla. Integer luctus tellus dignissim volutpat lobortis. Nam tristique lacinia sapien, vel elementum ex. Sed eget ligula laoreet, tincidunt purus nec, rutrum ipsum. Fusce euismod tortor sit amet egestas tempus.</p>
          </div>
          <div class="col-sm-12"> <strong class="green-clr">Panel Setting</strong>
            <div class="table-responsive">
              <table  class="table">
                <thead>
                <th>Member Type</th>
                  <th>Member Type</th>
                  <th>Email Id</th>
                  </thead>
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>Internal</td>
                    <td>demo@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td>Internal</td>
                    <td>demo@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td>Internal</td>
                    <td>demo@gmail.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!----->
      </div>
    </div>
  </div>
  <div id="salary" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-d">
    <div class="card-header" role="tab" id="heading-C">
      <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapse-d" aria-expanded="false" aria-controls="collapse-C">Round 3</a> </h5>
    </div>
    <div id="collapse-d" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
      <div class="card-body">
        <!----->
        <div class="row">
          <div class="col-sm-12"> <strong>Description</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu metus nec est consequat pharetra id at ligula. Curabitur nec lacus eget ex elementum blandit sed quis nulla. Integer luctus tellus dignissim volutpat lobortis. Nam tristique lacinia sapien, vel elementum ex. Sed eget ligula laoreet, tincidunt purus nec, rutrum ipsum. Fusce euismod tortor sit amet egestas tempus.</p>
          </div>
          <div class="col-sm-12"> <strong class="green-clr">Panel Setting</strong>
            <div class="table-responsive">
              <table  class="table">
                <thead>
                <th>Member Type</th>
                  <th>Member Type</th>
                  <th>Email Id</th>
                  </thead>
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>Internal</td>
                    <td>demo@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td>Internal</td>
                    <td>demo@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td>Internal</td>
                    <td>demo@gmail.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!----->
      </div>
    </div>
  </div>
  <div class="col-lg-12 text-center mt-2">
    <button type="submit" class="btn mtr-o-grn btn-l ripplelink pull-right" name="Command" value="Add"><i class="fas fa-paper-plane"></i>Submit</button>
    <button type="button" class="btn cnl-btn ripplelink  pull-right"><i class="fas fa-times"></i> Cancel</button>
  </div>
</div>
<!----End start-->


<!-- TASK Modal -->

<div class="modal fade pop-dgn" id="addround">
<div class="modal-dialog mdl-sm">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header blk-gdn-btn">
      <h4 class="modal-title"><i class="fas fa-plus"></i>Add Round </h4>
      <div class="close" data-dismiss="modal">&times;</div>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6  form-group">
          <label>Round Name</label>
          <input type="text" name="" placeholder="Enter Round Name" class="form-control">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6  form-group">
          <label>Round Type</label>
          <select class="form-control">
            <option>Select Type</option>
            <option>Type</option>
            <option>Type</option>
            <option>Type</option>
            <option>Type</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6  form-group">
          <label>Import form Template</label>
          <input type="file" name="" placeholder="Enter " class="form-control">
        </div>
        <div class="col-lg-12  form-group">
          <label>Round Descripton</label>
          <textarea class="form-control" placeholder="Enter Descripton"></textarea>
        </div>
        <div class="col-sm-12"> <strong class="green-clr">Panel Setting</strong>
          <div class="row mt-2">
            <div class="col-lg-4 col-md-4 col-sm-6  form-group">
              <label>Member Type</label>
              <select class="form-control">
                <option>Select Type</option>
                <option>Type</option>
                <option>Type</option>
                <option>Type</option>
                <option>Type</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6  form-group">
              <label>Member Name</label>
              <select class="form-control">
                <option>Select Name</option>
                <option>Name</option>
                <option>Name</option>
                <option>Name</option>
                <option>Name</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6  form-group pt-2"> <a href="" class="btn  mtr-g-grn btn-l ripplelink pull-right"><i class="fas fa-plus"></i>Add</a> </div>
            <div class="col-sm-12"> <strong>3 Added Member</strong>
              <ul class="addlist list-unstyled">
                <li class="listsno">1)</li>
                <li class="listnm">Name</li>
                <li class="listtxt">Internal</li>
                <li class="listeml text-right">demo@gmail.com</li>
              </ul>
              <ul class="addlist list-unstyled">
                <li class="listsno">2)</li>
                <li class="listnm">Name</li>
                <li class="listtxt">Internal</li>
                <li class="listeml text-right">demo@gmail.com</li>
              </ul>
              <ul class="addlist list-unstyled">
                <li class="listsno">3)</li>
                <li class="listnm">Name</li>
                <li class="listtxt">Internal</li>
                <li class="listeml text-right">demo@gmail.com</li>
              </ul>
            </div>
            <div class="col-lg-12 text-center mt-4">
              <button type="submit" class="btn mtr-o-grn btn-l ripplelink pull-right" name="Command" value="Add"><i class="fas fa-save"></i>Save</button>
              <button type="button" class="btn cnl-btn ripplelink  pull-right"><i class="fas fa-times"></i> Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
