
@*<div class="row">
    <div class="col-md-12 text-center"><h2>CENTRE FOR CATALYZING CHANGE </h2></div>
    <div class="col-md-12 text-center"> <h5>Full and Final Settlement </h5> </div>
    <div class="col-md-12 text-center"><h6><strong>Employee Details</strong></h6></div>
</div>

<div class="row">
    <div class="col-md-2"><strong>Name</strong></div><div class="col-md-2"> Rakesh   </div>
    <div class="col-md-2"><strong>Code</strong></div><div class="col-md-2">  T334  </div>
    <div class="col-md-2"><strong>Designation</strong></div><div class="col-md-2">  Designation  </div>

    <div class="col-md-2"><strong>Category</strong></div><div class="col-md-2"> Rakesh   </div>
    <div class="col-md-2"><strong>Sub Category</strong></div><div class="col-md-2">  T334  </div>
    <div class="col-md-2"><strong>Status</strong></div><div class="col-md-2">  Designation  </div>

    <div class="col-md-2"><strong>Date of Joining</strong></div><div class="col-md-2"> Rakesh   </div>
    <div class="col-md-2"><strong>Date of Resignation</strong></div><div class="col-md-2">  T334  </div>
    <div class="col-md-2"><strong>Last Working Day</strong></div><div class="col-md-2">  Designation  </div>

    <div class="col-md-2"><strong>Hourly Rate</strong></div><div class="col-md-2"> Hourly Rate   </div>
    <div class="col-md-2"><strong>Annual Leave Balance</strong></div><div class="col-md-2">  T334  </div>
    <div class="col-md-2"><strong>CL/SL Balance</strong></div><div class="col-md-2">  Designation  </div>

    <div class="col-md-2"><strong>Notice Period Payable</strong></div><div class="col-md-2"> Rakesh   </div>
    <div class="col-md-2"><strong>Notice Period Recovery</strong></div><div class="col-md-2">  T334  </div>
    <div class="col-md-2"><strong>Notice Period Waived</strong></div><div class="col-md-2">  Designation  </div>

</div>
<div class="row">
    <div class="col-md-12 text-center"><h2>CENTRE FOR CATALYZING CHANGE </h2></div>
</div>*@
<table class="table table-striped">
    @*<tr>
        <td colspan="6" class="col-md-12 text-center"><h2>CENTRE FOR CATALYZING CHANGE </h2></td>
    </tr>
    <tr>
        <td colspan="6" class="col-md-12 text-center"> <h5>Full and Final Settlement </h5> </td>
    </tr>
    <tr>
        <td colspan="6" class="col-md-12 text-center"><h6><strong>Employee Details</strong></h6></td>
    </tr>*@
    <tr>
        <td width="100"><strong>Name</strong></td>
        <td width="100"> Rakesh   </td>
        <td width="100"><strong>Code</strong></td>
        <td width="100">  T334  </td>
        <td width="100"><strong>Designation</strong></td>
        <td width="100">  Designation  </td>
    </tr>
    <tr>
        <td><strong>Category</strong></td>
        <td> Rakesh   </td>
        <td><strong>Sub Category</strong></td>
        <td>  T334  </td>
        <td><strong>Status</strong></td>
        <td>  Designation  </td>
    </tr>
    <tr>
        <td><strong>Date of Joining</strong></td>
        <td> Rakesh   </td>
        <td><strong>Date of Resignation</strong></td>
        <td>  T334  </td>
        <td><strong>Last Working Day</strong></td>
        <td>  Designation  </td>
    </tr>
    <tr>
        <td><strong>Hourly Rate</strong></td>
        <td> Hourly Rate   </td>
        <td><strong>Annual Leave Balance</strong></td>
        <td>  T334  </td>
        <td><strong>CL/SL Balance</strong></td>
        <td>  Designation  </td>
    </tr>
    <tr>
        <td><strong>Notice Period Payable</strong></td>
        <td> Rakesh   </td>
        <td><strong>Notice Period Recovery</strong></td>
        <td>  T334  </td>
        <td><strong>Notice Period Waived</strong></td>
        <td>  Designation  </td>
    </tr>
    <tr>
        <td class="col-md-12 text-center"><h2>CENTRE FOR CATALYZING CHANGE </h2></td>
    </tr>

       
</table>