
@model IList<Employee.List>
@{
	var Modify = clsApplicationSetting.GetSessionValue("Modify");
}
<div class="row">

	<div class="col-sm-12">

		@if (ViewBag.Approve == 0)
		{
			<div class="control-section">
				@Html.EJS().Grid("Grid").DataSource((List<Employee.List>)Model).GridLines(Syncfusion.EJ2.Grids.GridLine.Both).Columns(col =>
		   {
			   col.Field("ID").Visible(false).Add();
			   col.Field("RowNum").HeaderText("SNo.").Width("30").Add();
			   col.Field("emp_name").HeaderText("Name").Width("160").Add();
			   col.Field("emp_code").HeaderText("Code").Width("60").Add();
			   col.Field("EmploymentTerm").HeaderText("Category").Width("80").Add();
			   col.Field("Designation").HeaderText("Designation").Width("80").Add();
			   col.Field("Department").HeaderText("Department").Width("80").Add();
			   col.Field("Location").HeaderText("Location").Width("80").Add();
			   col.Field("DateOfJoining").HeaderText("Date Of Joining").Width("100").Add();
			   col.Field("DateOfResignation").HeaderText("Date Of Resignation").Width("100").Add();
			   col.Field("lastworking_day").HeaderText("Last Working Date").Width("100").Add();
			   col.HeaderText("Action").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Template("#tmpAction").Width("100").Add();

		   }).AllowPaging().PageSettings(page => page.PageSize(100)).Created("created").Toolbar(new List<string>() { "Search" }).Render()

			</div>
		}
		else
		{
			<div class="control-section">
				@Html.EJS().Grid("Grid1").DataSource((List<Employee.List>)Model).GridLines(Syncfusion.EJ2.Grids.GridLine.Both).Columns(col =>
		   {
			   col.Field("ID").Visible(false).Add();
			   col.Field("RowNum").HeaderText("SNo.").Width("30").Add();
			   col.Field("emp_name").HeaderText("Name").Width("160").Add();
			   col.Field("emp_code").HeaderText("Code").Width("60").Add();
			   col.Field("EmploymentTerm").HeaderText("Category").Width("80").Add();
			   col.Field("Designation").HeaderText("Designation").Width("80").Add();
			   col.Field("Department").HeaderText("Department").Width("150").Add();
			   col.Field("Location").HeaderText("Location").Width("80").Add();
			   col.Field("DateOfJoining").HeaderText("Date Of Joining").Width("100").Add();
			   col.Field("DateOfResignation").HeaderText("Date Of Resignation").Width("100").Add();
			   col.Field("lastworking_day").HeaderText("Last Working Date").Width("100").Add();
			   col.HeaderText("Action").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Template("#tmpAction2").Width("100").Add();



		   }).AllowPaging().PageSettings(page => page.PageSize(100)).Created("created2").Toolbar(new List<string>() { "Search" }).Render()

			</div>
		}



	</div>
</div>


<script id="tmpAction2" type="text/x-template">

	${if('@Modify' === 'True')}
	<input type="hidden" name="I" value="${ID}" />
	<a onclick="BindEditView(this)"><i class="fas fa-eye"></i>View </a>
	${/if}


</script>
<script id="tmpAction" type="text/x-template">

	${if('@Modify' === 'True')}
	<input type="hidden" name="I" value="${ID}" />
	<a onclick="BindEditPay(this)"><i class="fas fa-rupee-sign"></i>Pay </a>
	<a onclick="BindEditView(this)"><i class="fas fa-eye"></i>View </a>
	${/if}


</script>
<script>
    function created() {
            var grid = document.getElementById("Grid").ej2_instances[0];
            document.getElementById(grid.element.id + "_searchbar").addEventListener('keyup', () => {
            grid.search(event.target.value)
        });
    }

	    function created2() {
          var grid = document.getElementById("Grid1").ej2_instances[0];
          document.getElementById(grid.element.id + "_searchbar").addEventListener('keyup', () => {
            grid.search(event.target.value)
        });
    }
</script>
@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/SyncScripts.js"))

@(Html.EJS().ScriptManager())
