
    <div class="slr-dtl-box ">
        <div class="row">
            <div class="col-sm-2"><img class="l-header-logo-link-img" src="../images/logo.jpg" alt=""></div>
            <div class="col-sm-8 text-center"><strong class="mtr-o-clr">CENTRE FOR CATALYZING CHANGE</strong><br> <small>C-1 Hauz Khas, New Delhi - 110016</small></div>

            <div class="col-sm-2"><img class="l-header-logo-link-img " src="../images/mitr-logo.jpg" alt=""></div>
        </div>
        <hr>

        <div class="col-sm-12 text-center">
            <strong>EMPLOYEE DETAILS</strong>

            <div class="row text-left">
                <div class="col-sm-6">
                    <table class="table ">
                        <tbody>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td>Amit Kumar Pandey</td>
                            </tr>
                            <tr>
                                <td><strong>PAN</strong></td>
                                <td>AXNPP3172G</td>
                            </tr>

                            <tr>
                                <td><strong>PF No.  </strong></td>
                                <td>N/A</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Date of Joining </strong></td>
                                <td>18/11/2011  </td>
                            </tr>
                            <tr>
                                <td><strong>Address</strong></td>
                                <td>706, HIMGIRI APARTMENTS, KAUSHAMBI, GHAZIABAD - 201010  </td>
                            </tr>

                            <tr>
                                <td><strong>UAN No.</strong></td>
                                <td>100080527078</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <hr>
        <div class="col-sm-12 text-center">
            <strong>PACKAGE FOR <span class="mtr-o-clr">FINANCIAL YEAR 2014-15</span>  </strong>
            <div class="table-responsive">
                <table class="table text-left table-striped">
                    <tbody>
                        <tr>
                            <td><strong>Hourly Rate </strong></td>
                            <td><i class="fas fa-rupee-sign"></i> 308.52</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Package</strong></td>
                            <td><i class="fas fa-rupee-sign"></i> 5,96,013.00 </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td><strong>Add Benefits  </strong></td>
                            <td><i class="fas fa-rupee-sign"></i> 1,32,362.00 </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr class="lgt-mtr-o-bg">
                            <td><strong>Total Salary   </strong></td>
                            <td><strong><i class="fas fa-rupee-sign"></i> 7,28,375.00</strong></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr class="gry-gdn-btn">
                            <td><strong>Salary Structure  </strong></td>
                            <td><strong>Amount </strong></td>
                            <td><strong>Taxable </strong></td>
                            <td><strong>Taxfree</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Basic Pay  </strong></td>
                            <td><i class="fas fa-rupee-sign"></i> 3,57,608.00 </td>
                            <td><i class="fas fa-rupee-sign"></i> 3,57,608.00</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>House Rent Allowance  </strong></td>
                            <td><i class="fas fa-rupee-sign"></i> 1,78,804.00 </td>
                            <td><i class="fas fa-rupee-sign"></i> 1,78,804.00 </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td><strong>Transport/ CEA / LTA etc    </strong></td>
                            <td><i class="fas fa-rupee-sign"></i> 10,000.00 </td>
                            <td><i class="fas fa-rupee-sign"></i> 10,000.00</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td><strong>LIC  </strong></td>
                            <td><i class="fas fa-rupee-sign"></i> 42,913.00</td>
                            <td></td>
                            <td><i class="fas fa-rupee-sign"></i> 42,913.00</td>
                        </tr>
                        <tr>
                            <td><strong>EPF (CEDPA's contribution)    </strong></td>
                            <td><i class="fas fa-rupee-sign"></i> 29,801.00 </td>
                            <td><i class="fas fa-rupee-sign"></i> 14,801.00 </td>
                            <td><i class="fas fa-rupee-sign"></i> 15,000.00   </td>
                        </tr>

                        <tr>
                            <td><strong>Medical Reimbursements  </strong></td>
                            <td><i class="fas fa-rupee-sign"></i> 49,648.00</td>
                            <td><i class="fas fa-rupee-sign"></i> 49,648.00</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Bonus  </strong></td>
                            <td><i class="fas fa-rupee-sign"></i> 7,28,375.00 </td>
                            <td><i class="fas fa-rupee-sign"></i> 6,70,462.00  </td>
                            <td><i class="fas fa-rupee-sign"></i> 57,913.00 </td>
                        </tr>

                        <tr class="lgt-mtr-o-bg">
                            <td><strong>Gross Salary</strong></td>
                            <td><strong><i class="fas fa-rupee-sign"></i> 7,28,375.00 </strong></td>
                            <td><strong><i class="fas fa-rupee-sign"></i> 6,70,462.00  </strong></td>
                            <td><strong><i class="fas fa-rupee-sign"></i> 57,913.00 </strong></td>
                        </tr>

                    </tbody>

                    <tbody>
                        <tr>
                            <th><i class="fas fa-calendar-alt"></i> Month</th>
                            <th><i class="fas fa-clock"></i> Total Hours</th>
                            <th><i class="fas fa-rupee-sign"></i> Rate</th>
                            <th> <i class="fas fa-rupee-sign"></i> Total Amount</th>
                        </tr>


                    </tbody>
                    <tbody>
                        <tr>
                            <td>Apr/2014  </td>
                            <td>176</td>
                            <td><i class="fas fa-rupee-sign"></i> 277.95</td>
                            <td><i class="fas fa-rupee-sign"></i> 48,919.00</td>
                        </tr>
                        <tr>
                            <td>Jun/2014      </td>
                            <td>176</td>
                            <td><i class="fas fa-rupee-sign"></i> 277.95</td>
                            <td><i class="fas fa-rupee-sign"></i> 48,919.00</td>
                        </tr>
                        <tr>
                            <td>Jul/2014    </td>
                            <td>176</td>
                            <td><i class="fas fa-rupee-sign"></i> 277.95</td>
                            <td><i class="fas fa-rupee-sign"></i> 48,919.00</td>
                        </tr>
                        <tr>
                            <td>Aug/2014   </td>
                            <td>176</td>
                            <td><i class="fas fa-rupee-sign"></i> 277.95</td>
                            <td><i class="fas fa-rupee-sign"></i> 48,919.00</td>
                        </tr>
                        <tr>
                            <td>Sep/2014    </td>
                            <td>176</td>
                            <td><i class="fas fa-rupee-sign"></i> 277.95</td>
                            <td><i class="fas fa-rupee-sign"></i> 48,919.00</td>
                        </tr>

                        <tr class="lgt-mtr-o-bg">
                            <td><strong>Total</strong></td>
                            <td><strong><i class="fas fa-clock"></i> 2088</strong></td>
                            <td></td>
                            <td><strong><i class="fas fa-rupee-sign"></i> 5,96,013.00</strong></td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>


    </div>