@model IList<Mitr.Model.ModuleInfo.HelpCardTopicModel>

@{
    ViewBag.Title = "HelpCartTopic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-main p-3 defult-height">
    <div class="row mb-3 helpheader">
        <div class="col-sm-3 align-self-center">
            <h1 class="heading-one mb-0">@ViewBag.ModuleName</h1>
        </div>
        <div class="col-sm-7">
            <div class="d-flex ">
                <div class="input-group search-box">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button class="searchicon" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 align-self-center text-right">
            <a href="/ModuleInfoManagment/HelpCart" class="btn green-clr"><i class="fas fa-arrow-left"></i> Back</a>
        </div>
      
    </div>

    <div class="row" id="cardsContainer">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-3">
                <div class="card learndgnone">
                    <p class="title ellipsis-td">@item.TopicName</p>
                    <div class="d-flex">
                        <span class="tpdgn align-self-center">@item.PageCount Pages</span>
                      
                        <span class="cardlink text-right">
                            <a href="@Url.Action("HelpCartPage", new {Topic_id = item.ID })" class="btn rmlink">Read More</a>
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const cards = document.querySelectorAll('.card'); 
        searchInput.addEventListener('input', function() {
            const searchTerm = searchInput.value.toLowerCase();
            cards.forEach(card => {
                const title = card.querySelector('.title').textContent.toLowerCase();
                if (title.includes(searchTerm)) {
                    card.parentElement.style.display = ''; 
                } else {
                    card.parentElement.style.display = 'none'; 
                }
            });
        });
    });
</script>
