    @font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Regular'), url('../webfonts/Roboto-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Italic'), url('../webfonts/Roboto-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Bold'), url('../webfonts/Roboto-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Bold Italic'), url('../webfonts/Roboto-BoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Thin'), url('../webfonts/Roboto-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Thin Italic'), url('../webfonts/Roboto-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Light'), url('../webfonts/Roboto-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Light Italic'), url('../webfonts/Roboto-LightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Medium'), url('Roboto-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Medium Italic'), url('Roboto-MediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Black';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Black'), url('Roboto-Black.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Black Italic'), url('Roboto-BlackItalic.woff') format('woff');
    }