.search-box{width: 100% !important; text-align:left}
.search-box input{ width: 100%; font-weight: normal; font-size: 14px; text-align: left;}
.form-control:focus{
  font-weight: normal !important;
}
.searchicon{
  position: absolute;
  border: 0px;
  background: none;
  top: 11px;
  right: 0px;
  color: #ccc;
  z-index: 999;

}
.modal-header .close {
    padding: 0px;
    color: white;
    opacity: 9;
    text-shadow: 0 0px 0 #fff;
    margin: 0px;
}

.learndgn {
  position: relative;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.3s;
  background-color: #fbfbfb;
  cursor: pointer;
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

.learndgn:hover {
	transform: translateY(-20px);
}

.cardlink, .tpdgn{  width: 100%;
}
.learndgn .image {
	width: 100%;
	height: 60%;
	border-radius: 10px;
	margin-bottom: 12px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px;
}

.learndgn .image i{ font-size: 50px;}

.learndgn .title {
	font-size: 16px;
    font-weight: 600;
    color: #212121;
    margin-bottom: 11px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.rmlink{
  background: #7b7b7b;
    color: #fff;
    margin: 0px;
}

.tpdgn{font-size: 14px;}



/*  */

.card.learndgnone{background: #fffaee;
  border-radius: 0px !important;
  padding: 15px;
  height: 130px;
  border-bottom: 4px solid #f6c44d;
  margin-bottom: 20px;
}

    .learndgnone .title {
        font-size: 16px;
        font-weight: bold;
        color: #000;
        margin-bottom: 38px;
        width: 90%;
        line-height: initial;
        height: 130px;
        display: block;
        text-transform: capitalize;
    }

.search-box.input-group input {
    text-align: left
}

.infotool{
  position: absolute;
  right: 9px;
  font-size: 14px;
  color: #ccc;
}

.learndgnone .btn{
  border-radius: 5px;
  padding: 5px 10px
}

.learndgnone .btn:hover{
  background: #000;
  color: #fff;
}


.ellipsis-td{
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}


.onebg{
  background: #fae1e1 !important;
}

.twobg{
  background: #e1f2fa !important;
}

.threebg{background: #e2e2ff;}
.fourbg{background: #fffaee;}
.fivebg{background: #f0ffee;}
.sixbg{background: #fff7ee;}

/*  */

.gallery {
  column-count: 4;
  
}
.gallery-item {
  break-inside: avoid;
  margin-bottom: 16px;
}

@media screen and (max-width: 500px) {
  .gallery {
    column-count: 1;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .gallery {
    column-count: 2;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
  .gallery {
    column-count: 3;
  }
}


.gallery-item .learndgnone, .gallery-item .title{height: auto;}




/*  */

.gallery-three .learndgn{height: auto;}
.gallery-three .title {
  font-size: 14px;
  font-weight: normal;
  color: #212121;
  margin-bottom: 11px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: inherit;
  line-height: 19px;
}


.itemlist {
  margin: 0 auto 20px auto;
  overflow: hidden;
  z-index: 1;
  
  transition: all 120ms ease;
}

.grid-sizer, .itemlist {
  width: 31%;
}

@media screen and (max-width: 750px) {
  .grid-sizer, .itemlist {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  grid-sizer, .itemlist {
    width: 90%;
  }
}


/*  */

.embed-responsive {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
}

.paragraph-inline {
  float: left;
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 8px;
}

.paragraph-inline {
  float: left;
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 8px;
}

.width-450 {
  width: 450px !important;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}



.topiclistright{
  background: #f2f2f2;
  padding: 15px;
  border-radius: 4px;
}

.topiclistright h2{
  font-size: 16px;
  margin-bottom: 20px;
  
}

.topiclistright h2, h1:first-letter{
  text-transform: capitalize
}

.topiclistdgn li a {
  display: table;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  position: relative;
}

.topiclistdgn li a i {
    position: absolute;
    top: 12px;
    left: 6px;
}

.topiclistdgn li a:hover, .topiclistdgn .active {
  background: #fff;
}

.topiclistdgn li:last-child a{
  border-bottom: 0px;
}


.topiclistdgn .active{
color: #ef8813;
}


/******/


.accordion > .card {
    overflow: hidden;
    background: none;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.accordion .card-header {
    padding: 5px;
    border: 0px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background: none;
    padding: 0px;
    margin: 0px;
}

.accordion .card-header {
    width: 100%;
    display: table;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    border-radius: 0px !important;
    margin: 0px;
}

.accordion > .card > .card-header {
    width: 100%;
}

    .accordion > .card > .card-header a {
        width: 100%;
        text-align: left;
    }

.accordion .card-header a.btn-header-link {
    background: #a7c234;
    color: #fff;
    margin: 0px;
    border-radius: 0px !important;
}

.accordion .card-header a.collapsed {
    background: #fff;
    color: #000;
}


.accordion > .card > .card-header {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.accordion .scroll {
    height: auto;
    max-height: 300px;
}

.accordion .card-header a.btn-header-link:after {
    content: "\f2d1";
}


.accordion .card-header a.btn-header-link:after {
    position: absolute;
    top: 5px;
    right: 9px;
}

.accordion .card-header a.collapsed:after {
    content: "\f067";
    top: 8px;
}

.accordion .card-header a.btn-header-link:hover {
    background: #000;
    color: #fff;
}
.page-section p{word-wrap: break-word;}
.page-section p font{}


.accordion .card-body {
    padding: 15px 0px 15px 0px;
}

.cke_skin_kama .cke_toolbox {
    display: flex;
    flex-wrap: wrap;
}

.topiclistdgn .scroll {height: auto;max-height: 300px;    }
@media screen and (max-width:799px){
.width-450 {width: 100% !important;}
}

@media screen and (max-width:575px){
.helpheader .btn.green-clr{
  position: absolute;
    top: -111px;
    right: 0px;
}
}




