<div class="row">
	<div class="col-sm-4 wf-575 form-group">
		<label>Activity  </label>
		<select class="form-control dpselect">
			<option>Select</option>
			<option selected="">Activity  1</option>
			<option>Activity  2</option>
		</select>

	</div>
	<div class="col-sm-4 wf-575 form-group">
		<label>Sub Activity   </label>
		<select class="form-control dpselect">
			<option>Select</option>
			<option>SubAct1.1: master trainers</option>
			<option selected="">SubAct1.2: Doctors</option>
			<option>SubAct1.3: Nurses</option>
			<option>SubAct1.4: Sub Activity 1.4</option>
			<option>SubAct1.5: Sub Activity 1.5</option>
		</select>

	</div>
	<div class="col-sm-4  form-group">
		<label>Travel Category    </label>
		<select class="form-control dpselect">
			<option>Select</option>
			<option>Travel to C3 Office</option>
			<option selected="">Travel to Metro Cities</option>
		</select>
	</div>
	<div class="col-sm-12 form-group">
		<hr>
		<span class="hr-aps lgt-text font-sm">Project Year  </span>
	</div>
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table tbl-600 mt-0">
				<thead>
					<tr>
						<th rowspan="2">Year</th>
						<th colspan="4" class="text-center">Oct-Mar (Upto March)  </th>
						<th colspan="4" class="text-center">Apr-Sept (After March) </th>
					</tr>

					<tr>
						<th class="text-left" width="50">No. of trip days  </th>
						<th class="text-left" width="50">No. of person trips </th>
						<th class="text-left" width="80">Amount</th>
						<th class="text-left" width="80">Total</th>
						<th class="text-left" width="50">No. of trip days  </th>
						<th class="text-left" width="50">No. of person trips </th>
						<th class="text-left" width="80">Amount</th>
						<th class="text-left" width="100">Total</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>2020-21 </td>
						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td class="text-right">17,125  </td>
						<td class="text-right">17,125</td>
						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td class="text-right">17,125  </td>
						<td class="text-right">17,125  </td>
					</tr>

					<tr>
						<td>2021-22 </td>
						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td class="text-right">17,125  </td>
						<td class="text-right">34,450 </td>
						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td class="text-right">17,125  </td>
						<td class="text-right">17,125  </td>
					</tr>

					<tr>
						<td>2022-23 </td>
						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td class="text-right">17,125  </td>
						<td class="text-right">34,450 </td>

						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td>
							<input type="number" placeholder="0" value="1" class="form-control text-right">
						</td>
						<td class="text-right">17,125  </td>
						<td class="text-right">17,125  </td>
					</tr>

					<tr class="green-clr lgt-mtr-o-bg">
						<td colspan="4" class="text-right"><strong>Total</strong></td>
						<td class="text-right"><strong> <i class="fas fa-rupee-sign green-clr"></i>52,126 </strong> </td>

						<td colspan="3" class="text-right"><strong>Total</strong></td>
						<td class="text-right"><strong><i class="fas fa-rupee-sign green-clr"></i>1,38,371 </strong> </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
<div class="mt-4 text-center">
	<button type="button" data-dismiss="modal" class="btn cnl-btn"><i class="fas fa-times"></i> Close</button>
	<button type="submit" class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-save"></i>Save</button>
	<button type="submit" class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-save"></i>Save & New</button>
</div>
