<div class="row">
	<div class="col-sm-12 form-group">
		<label>Activity</label>
		<p>Act 1: Activity 1 Description</p>
	</div>
	<div class="col-sm-4 form-group">
		<label>Sub Activity</label>
		<select class="form-control dpselect">
			<option>Select</option>
			<option>Master Trainers</option>
			<option>Select</option>
			<option>Select</option>
		</select>
	</div>
	<div class="col-sm-4 form-group">
		<label>Training Type</label>
		<select class="form-control dpselect">
			<option>Select</option>
			<option>Residential Training (Metro)</option>
			<option>Residential Training (Urban)</option>
			<option>Residential Training (Rural)</option>
			<option>Refresher NT (Non Residential)</option>
		</select>
	</div>

	<div class="col-sm-12 form-group">
		<label>Training Name</label>
		<input type="text" class="form-control " placeholder="Enter" name="">
	</div>
	<div class="col-sm-3 form-group">
		<label>Training Days</label>
		<input type="number" placeholder="Enter" value="" class="form-control" name="">

	</div>
	<div class="col-sm-3 form-group">
		<label>No. of trainees per batch</label>
		<input type="number" placeholder="Enter" value="" class="form-control" name="">

	</div>
	<div class="col-sm-3 form-group">
		<label>Estimated Attendance %</label>
		<input type="number" placeholder="Enter" value="" class="form-control" name="">

	</div>

	<div class="col-sm-3 form-group">
		<label>Indirect Cost %</label>
		<input type="number" placeholder="Enter" value="" class="form-control" name="">

	</div>

	<div class="col-sm-12">
		<table class="table">
			<thead>
				<tr>
					<th>Component</th>
					<th class="tw-200">Unit</th>
					<th class="w-50">Rate</th>
					<th class="w-80">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>TA</td>
					<td>Per Person Per Day</td>
					<td><input type="number" class="form-control text-right" value="200" placeholder="0" name=""></td>
					<td class="text-right">7000</td>
				</tr>
				<tr>
					<td>DA</td>
					<td>Per Person Per Day</td>
					<td><input type="number" class="form-control text-right" value="200" placeholder="0" name=""></td>
					<td class="text-right">7000</td>
				</tr>
				<tr>
					<td>TA</td>
					<td>Per Person Per Day</td>
					<td><input type="number" class="form-control text-right" value="200" placeholder="0" name=""></td>
					<td class="text-right">7000</td>
				</tr>
				<tr>
					<td>Venue     </td>
					<td>Per Day</td>
					<td><input type="number" class="form-control text-right" value="500" placeholder="0" name=""></td>
					<td class="text-right">10000</td>
				</tr>
				<tr>
					<td>Food      </td>
					<td>Per Person Per Day</td>
					<td><input type="number" class="form-control text-right" value="200" placeholder="0" name=""></td>
					<td class="text-right">17500    </td>
				</tr>
				<tr>
					<td>Training Material     </td>
					<td>Per Person</td>
					<td><input type="number" class="form-control text-right" value="100" placeholder="0" name=""></td>
					<td class="text-right">1750   </td>
				</tr>

				<tr>
					<td>Other     </td>
					<td>Per Person</td>
					<td><input type="number" class="form-control text-right" value="100" placeholder="0" name=""></td>
					<td class="text-right">1000</td>
				</tr>
				<tr class="green-clr lgt-mtr-o-bg">
					<td colspan="3"><strong>Total Cost per Training</td>
					<td class="text-right"><i class="fas fa-rupee-sign green-clr"></i>44250</td>
				</tr>
			</tbody>
		</table>
	</div>





</div>

<div class="mt-4 text-center">
	<button type="button" data-dismiss="modal" class="btn cnl-btn"><i class="fas fa-times"></i> Close</button>
	<button type="submit" class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-save"></i>Save</button>
	<button type="submit" class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-save"></i>Save & New</button>
</div>
