<div class="table-responsive">
	<table class="table tbl-650">
		<thead>
			<tr>
				<th>Staff Name</th>
				<th>Designation </th>
				<th>Location</th>
				<th>Employment Category </th>
				<th class="tw-80">Outcome 1 (i)</th>
				<th class="tw-80">Outcome 2 (i)</th>
				<th class="tw-80">Outcome 3 (i)</th>
				<th class="tw-80">Outcome 4 (i)</th>
				<th class="tw-80">Outcome 5 (i)</th>
				<th class="tw-80">Total %</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Aparajita</td>
				<td>Executive Director</td>
				<td>New Delhi</td>
				<td>Core</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" value="" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td class="text-right">
					<div class="input-group">
						<input type="number" value="100" class="form-control text-center" disabled="" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Sanjay Paul</td>
				<td> Senior Manager  - Youth</td>
				<td>New Delhi</td>
				<td>Core</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td class="text-right">
					<div class="input-group">
						<input type="number" value="100" class="form-control text-center" disabled="" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Manju</td>
				<td> Senior Advisor - M&E</td>
				<td>New Delhi</td>
				<td>Core</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td class="text-right">
					<div class="input-group">
						<input type="number" value="100" class="form-control text-center" disabled="" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
			</tr>
			<tr>
				<td>To be appointed</td>
				<td>job title master</td>
				<td>New Delhi</td>
				<td>Core</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td class="text-right">
					<div class="input-group">
						<input type="number" value="100" class="form-control text-center" disabled="" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Aparajita</td>
				<td>Executive Director</td>
				<td>New Delhi</td>
				<td>Core</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td class="text-right">
					<div class="input-group">
						<input type="number" value="100" class="form-control text-center" disabled="" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="mt-4 text-center">
	<button type="button" data-dismiss="modal" class="btn cnl-btn"><i class="fas fa-times"></i> Close</button>
	<button type="submit" class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-save"></i>Save</button>
</div>
