<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="w-150"></th>
				<th class="tw-100 text-center">Apr</th>
				<th class="tw-100 text-center">May</th>
				<th class="tw-100 text-center">Jun</th>
				<th class="tw-100 text-center">July</th>
				<th class="tw-100 text-center">Aug</th>
				<th class="tw-100 text-center">Sept</th>
				<th class="tw-100 text-center">Oct</th>
				<th class="tw-100 text-center">Nov</th>
				<th class="tw-100 text-center">Dec</th>
				<th class="tw-100 text-center">Jan</th>
				<th class="tw-100 text-center">Feb</th>
				<th class="tw-100 text-center">Mar </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2020-21</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="10" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="15" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="10" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="15" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="25" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="10" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
			</tr>
			<tr>
				<td>2021-22</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="20" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="50" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="15" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="10" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="15" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="100" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="23" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="12" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="23" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="12" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="10" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="50" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
			</tr>
			<tr>
				<td>2022-23</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="10" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="20" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="30" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="40" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="10" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="50" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="60" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="50" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="15" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="50" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="30" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
			</tr>
			<tr>
				<td>2023-24</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="10" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="22" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="20" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="50" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="50" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group">
							<input type="number" value="50" class="form-control text-center" placeholder="0">
							<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
						</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="mt-4 text-center">
	<button type="button" data-dismiss="modal" class="btn cnl-btn"><i class="fas fa-times"></i> Close</button>
	<button type="submit" class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-save"></i>Save</button>
	<button type="submit" class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-save"></i>Save & New</button>
</div>
