<div class="table-responsive">
	<table class="table tbl-500">
		<thead>
			<tr>
				<th class="tw-100">Outcome 1 (i)</th>
				<th class="tw-100">Outcome 2 (i)</th>
				<th class="tw-100">Outcome 3 (i)</th>
				<th class="tw-100">Outcome 4 (i)</th>
				<th class="tw-100">Outcome 5 (i)</th>
				<th class="tw-100">Total %</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td>
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
				<td class="text-right">
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" disabled="" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="mt-4 text-center">
	<button type="button" data-dismiss="modal" class="btn cnl-btn"><i class="fas fa-times"></i> Close</button>
	<button type="submit" class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-save"></i>Save</button>
</div>
