<div class="table-responsive">
	<table class="table tbl-600">
		<thead>
			<tr>
				<th>Particulars</th>
				<th class="w-80">Air Fare</th>
				<th class="w-80">Per Diem</th>
				<th class="w-80">Hotel</th>
				<th class="w-80">Local Travel</th>
				<th class="w-80">Total</th>
				<th class="w-80">Indirect Cost </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Travel to c3 office</td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" disabled="" class="text-right form-control" value="18500" placeholder="0" name=""></td>
				<td class="text-right">
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Travel to Metro cities</td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" disabled="" class="text-right form-control" value="18500" placeholder="0" name=""></td>
				<td class="text-right">
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Travel to international</td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" disabled="" class="text-right form-control" value="18500" placeholder="0" name=""></td>
				<td class="text-right">
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Travel within state         </td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" class="text-right form-control" value="15000" placeholder="0" name=""></td>
				<td><input type="number" disabled="" class="text-right form-control" value="18500" placeholder="0" name=""></td>
				<td class="text-right">
					<div class="input-group">
						<input type="number" value="" class="form-control text-center" placeholder="0">
						<div class="input-group-append"> <span class="input-group-text" id="basic-addon2">%</span> </div>
					</div>
				</td>
			</tr>


		</tbody>
	</table>
</div>
<div class="mt-4 text-center">
	<button type="button" data-dismiss="modal" class="btn cnl-btn"><i class="fas fa-times"></i> Close</button>
	<button type="submit" class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-save"></i>Save</button>
</div>
