
@model Mitr.Models.Recruit.Tabs
@{
	string MenuID = ViewBag.MenuID.ToString();
}
<div class="inner-main mb-5 pb-0">
	<h1 class="heading-one ">Final Shortlisting</h1>

	@{ Html.RenderAction("_EViewRequests", "Recruit", new { src = clsApplicationSetting.EncryptQueryString(MenuID + " */Recruit/_EViewRequests*" + ViewBag.REC_ReqID + "*N") }); }


<h2 class="header-two"><i class="fas fa-info-circle"></i>Resume List</h2>

@using (Ajax.BeginForm("_FinishShortlisting", "Recruit",
		   new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/Recruit/_FinishShortlisting*" + ViewBag.REC_ReqID) },
		   new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget" },
	   new { @id = "_FinishShortlistingFrom" })
	   )
{

	<div class="tab-main ">
		<div class="row text-clr">
			<div class="col-md-12">

				<ul id="tabs" class="nav nav-tabs " role="tablist">
					<li class="nav-item"> <a tabvalue="0" class="nav-link active ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="far fa-clock"></i>Pending</a> </li>
					<li class="nav-item"> <a tabvalue="2" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="fas fa-ban"></i>Rejected</a> </li>
					<li class="nav-item"> <a tabvalue="1" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="fas fa-check"></i>Select</a> </li>

				</ul>
			</div>
			<div style="display:none">
				@Html.HiddenFor(model => model.Approve)
				<button type="submit" class="btn mtr-g-grn btn-l ripplelink" id="btnSearch" name="Command" value="Search">
					<i class="fas fa-search"></i>Search
				</button>
			</div>

		</div>
	</div>

}

<div id="TargetDiv"></div>
</div>
<div class="modal fade pop-dgn" id="ViewAppModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header blk-gdn-btn">
				<h4 class="modal-title"><span id="spnhd"></span></h4>
				<div class="close" data-dismiss="modal">&times;</div>
			</div>
			<div class="modal-body">
				<div id="DivViewApp"></div>
			</div>
		</div>
	</div>
</div>

@section scripts    {

	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/AddInit.js"))
	<script src="~/assets/design/Scripts/AddInit.js?v=@clsApplicationSetting.GetWebConfigValue("Version")"></script>

	<script>
		$(document).ready(function () {
			$("#btnSearch").click();
		});
		$('.AnchorApproval').on('click', function (e) {
			e.preventDefault();
			e.stopPropagation();
			var att = $(this).attr("tabvalue");
			$(".AnchorApproval.active").removeClass("active");
			$(this).addClass("active");
			$("#Approve").val(att);
			if (att == 0) {
				$("#divFilter").show();
			} else {
				$("#divFilter").hide();
			}
			ShowLoadingDialog();
			$("#btnSearch").click();
		});

		$('.chkfilter').on('click', function (e) {
			ShowLoadingDialog();
			$("#btnSearch").click();
		});

		function BindTarget(args) {
			CloseLoadingDialog();
			$("#TargetDiv").empty();
			$("#TargetDiv").html(args);
			$(".applyselect").select2();
		}

			function OnSuccessSetFinalShortlisting(obj) {

				if (obj.Status) {
					debugger;
					SuccessToaster(obj.SuccessMessage);
					window.location.reload();
					$("#btnSearch").click();
				}
				else {
					CloseLoadingDialog();
					FailToaster(obj.SuccessMessage);
				}
			}


		function ViewApplication(obj)
		{
			var AppIID = $(obj).closest("tr").find("input:hidden[name=AppIID]").val();
			var AppName = $(obj).closest("tr").find("input:hidden[name=AppName]").val();
			$.ajax({
				url: "/Recruit/_ViewApplications",
				type: "Get",
				data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Recruit/_ViewApplications" + "*" + AppIID) },
				success: function (args) {
					CloseLoadingDialog();
					$("#DivViewApp").empty();
					$("#DivViewApp").html(args);
					$("#ViewAppModal").modal('show');
					$("#spnhd").html(AppName);
				},
				error: function (er) {
					CloseLoadingDialog()
				}
			});
		}

		function ProjectTaggingSuccess(obj) {

			if (obj.Status) {
				SuccessToaster(obj.SuccessMessage);
				window.location.reload();
			}
			else {
				CloseLoadingDialog();
				FailToaster(obj.SuccessMessage);
			}
		}
	</script>
}
