
@{
    ViewBag.Title = "Thanks";
}
<div class="center-div d-flex">
	<div class="align-self-center thnkdgn p-5" style="width: 100%;">
		<h2 style="font-size: 25px;">Thank you for applying</h2>
		<span style="font-size:12px !important">
			Due to the high volume of applications received, only short-listed candidates will be intimated.
			C3 aims to be an equal opportunity employer. All applicants will be considered for employment without attention to race, colour, religion, sex, sexual orientation, gender identity, national origin, or disability status. Women candidates are encouraged to apply.
		</span>
		
	</div>
</div>

