
@model IList<MPR.SubSection.SubSecList>
@{
    var Modify = clsApplicationSetting.GetSessionValue("Modify");
	
}
<div class="control-section">
    @Html.EJS().Grid("FlatGrid").DataSource((List < MPR.SubSection.SubSecList>)Model).GridLines(Syncfusion.EJ2.Grids.GridLine.Both).Columns(col =>
{
    col.Field("MPRSubSID").Visible(false).Add();
    col.Field("IsActive").Visible(false).Add();
    col.Field("Priority").Visible(false).Add();
    col.Field("RowNum").HeaderText("SNo.").Width("30").Add();
    col.HeaderText("Action").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Template("#tmpAction").Width("100").Add();
    col.HeaderText("Priority").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Template("#tmpPriority").Width("100").Add();

    col.Field("SecName").HeaderText("Section").SortComparer("sortComparer").Width("160").Add();
    col.Field("SubSecName").HeaderText("Sub Section").Width("160").Add();
    col.Field("NoOfCol").HeaderText("No of Column").Width("160").Add();

    col.Field("ColText1").HeaderText("Column 1 text").Width("160").Add();
    col.Field("ColDataType1").HeaderText("Column 1 Datatype").Width("160").Add();
    col.Field("ColSuffix1").HeaderText("Column 1 Suffix").Width("160").Add();

    col.Field("ColText2").HeaderText("Column 2 text").Width("160").Add();
    col.Field("ColDataType2").HeaderText("Column 2 Datatype").Width("160").Add();
    col.Field("ColSuffix2").HeaderText("Column 2 Suffix").Width("160").Add();

    col.Field("ColText3").HeaderText("Column 3 text").Width("160").Add();
    col.Field("ColDataType3").HeaderText("Column 3 Datatype").Width("160").Add();
    col.Field("ColSuffix3").HeaderText("Column 3 Suffix").Width("160").Add();


}).AllowPaging().PageSettings(page => page.PageCount(10)).Created("created").AllowSorting(true).AllowGrouping().GroupSettings(group=>group.Columns(new string[] { "SecName" })).Toolbar(new List<string>() { "Search" }).Render()


  
</div>

<script>
	function sortComparer(reference, comparer) {
		//Here you can define your custom sort function 
		return -1;     //return -1 will restrict the sort 
	}; 
</script>
<script id="tmpPriority" type="text/x-template">
    ${if('@Modify' === 'True')}
    <input type="number" onblur="BindPriority(this)" list="mprsubsecList" value="${Priority}" />
    ${else}
    ${Priority}
    ${/if}
</script>


<script id="tmpAction" type="text/x-template">
    ${if('@Modify' === 'True')}
    <input type="hidden" name="I" value="${MPRSubSID}" />
    <input type="hidden" name="N" value="${SubSecName}" />

    <a onclick="BindEdit(this)"><i class="fas fa-edit checkgreen" aria-hidden="true"></i> </a>

    ${if(IsActive)}
    <a title='Click to DeActivate' onclick="BindIsActive(this)" list='mprsubsecList' OP='0' class='AIsActive'> <i class='fa fa-check-circle checkgreen' aria-hidden='true'></i></a>
    ${else}
    <a title='Click to Activate' onclick="BindIsActive(this)" list='mprsubsecList' OP='1' class='AIsActive'> <i class='fa fa-times-circle crossred' aria-hidden='true'></i></a>
    ${/if}
    ${/if}
</script>
<script>
    function created() {
        var grid = document.getElementById("FlatGrid").ej2_instances[0];
        document.getElementById(grid.element.id + "_searchbar").addEventListener('keyup', () => {
            grid.search(event.target.value)
        });
    }
</script>

@(Html.EJS().ScriptManager())

