
@{
    ViewBag.Title = "LocationGroup";
}

   <div class="row">
            <div class="col-md-12">
                <h1 class="heading-one">RO Location Master</h1>
            </div>
        </div>

<div class="page-ctn">
        <div class="row">
            <div class="col-md-2 form-group">
                <label>RO Location</label>
                <input type="text" name="" placeholder="Enter ro location" class="form-control">
            </div>
            <div class="col-md-4 form-group">
                <label>Location</label>
                <select class="form-control dpselect" multiple="">
                    <option>Location</option>
                    <option>Location 1</option>
                    <option>Location 2</option>
                    <option>Location 3</option>
                    <option>Location 4</option>
                </select>
            </div> 

            <div class="col-md-2">
                <button type="button" class="btn btn-l ripplelink"><i class="fas fa-plus"></i>Add</button>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                        <table id="datatable" class="table   table-bordered dt-responsive nowrap tbltick new_width">
                            <thead>
                                <tr>
                                    <th class="td-10">S.No</th>
                                    <th class="tw-100">RO Location</th>
                                    <th>Location</th>
                                    <th class="tw-100">Action</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>1</td>
                                  <td>Ro Location Name</td>
                                  <td>Location 1, Location 2, Location 3, Location 4</td>
                                    
                                    <td><strong>
                                    <a href=""><i class="fas fa-edit"></i>Edit</a><span class="line-spc">|</span><a href=""><i class="fas fa-trash-alt red-clr"></i></a>
                                    </strong>
                                  </td>
                                  
                                </tr>

                                <tr>
                                <td>2</td>
                                  <td>Ro Location Name</td>
                                  <td>Location 1, Location 2, Location 3, Location 4</td>
                                    
                                    <td><strong>
                                    <a href=""><i class="fas fa-edit"></i>Edit</a><span class="line-spc">|</span><a href=""><i class="fas fa-trash-alt red-clr"></i></a>
                                    </strong>
                                  </td>
                                  
                                </tr>

                                <tr>
                                <td>3</td>
                                  <td>Ro Location Name</td>
                                  <td>Location 1, Location 2, Location 3, Location 4</td>
                                    
                                    <td><strong>
                                    <a href=""><i class="fas fa-edit"></i>Edit</a><span class="line-spc">|</span><a href=""><i class="fas fa-trash-alt red-clr"></i></a>
                                    </strong>
                                  </td>
                                  
                                </tr>

                                <tr>
                                <td>4</td>
                                  <td>Ro Location Name</td>
                                  <td>Location 1, Location 2, Location 3, Location 4</td>
                                    
                                    <td><strong>
                                    <a href=""><i class="fas fa-edit"></i>Edit</a><span class="line-spc">|</span><a href=""><i class="fas fa-trash-alt red-clr"></i></a>
                                    </strong>
                                  </td>
                                  
                                </tr>
                          </tbody>
                        </table>
                    </div>
                
            </div>
        </div>
