

@model List<Exit.Confirmation.List>

@{
    string MenuID = "0";
    if (ViewBag.MenuID != null)
    {
        MenuID = ViewBag.MenuID;
    }
    var Modify = clsApplicationSetting.GetSessionValue("Modify");
}
<div class="control-section">
    @if (ViewBag.Approve == 0)
    {
        @Html.EJS().Grid("FlatGrid").DataSource((List<Exit.Confirmation.List>)Model).GridLines(Syncfusion.EJ2.Grids.GridLine.Both).Columns(col =>
   {
       col.Field("Exit_ID").Visible(false).Add();
       col.Field("EMP_ID").Visible(false).Add();
       col.Field("RowNum").HeaderText("S.No").Width("50").Add();
       col.Field("Req_No").HeaderText("Req No").Width("50").Add();
       col.Field("Req_Date").HeaderText("Request Date").Width("80").Add();
       col.Field("RelievingDate").HeaderText("Relieving Date").Width("80").Add();
       col.Field("emp_code").HeaderText("EMP Code").Width("80").Add();
       col.Field("emp_name").HeaderText("EMP Name").Width("100").Add();

   }).AllowPaging().PageSettings(page => page.PageCount(10)).Toolbar(new List<string>() { "Search" }).Render()
    }
    else
    {
        @Html.EJS().Grid("FlatGrid").DataSource((List<Exit.Confirmation.List>)Model).GridLines(Syncfusion.EJ2.Grids.GridLine.Both).Columns(col =>
   {
       col.Field("Exit_ID").Visible(false).Add();
       col.Field("EMP_ID").Visible(false).Add();
       col.Field("RowNum").HeaderText("S.No").Width("50").Add();
       col.Field("Req_No").HeaderText("Req No").Width("50").Add();
       col.Field("Req_Date").HeaderText("Request Date").Width("80").Add();
       col.Field("RelievingDate").HeaderText("Relieving Date").Width("80").Add();
       col.Field("emp_code").HeaderText("EMP Code").Width("80").Add();
       col.Field("emp_name").HeaderText("EMP Name").Width("100").Add();

   }).AllowPaging().PageSettings(page => page.PageCount(10)).Toolbar(new List<string>() { "Search" }).Render()
    }
</div>



@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/SyncScripts.js"))

@(Html.EJS().ScriptManager())
