
@{
    ViewBag.Title = "Assigntask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Start -->
    <div class="inner-main defult-height p-3 pb-0">
        <h1 class="heading-one mb-3">Handover Task</h1>
        <input type="hidden" id="hdfid" value="@ViewBag.ID " />
        <div class="row">
            <div class="col-sm-12 form-group">
                <ul class="list-unstyled inline-li m-0 rqt-dtl">
                    <li>
                        <label>Requested by</label><span id="spRby"></span>
                    </li>

                    <li>
                        <label>Req No</label><span id="spRN"></span>
                    </li>

                    <li>
                        <label>Location</label><span id="spL"></span>
                    </li>
                    <li>
                        <label>Department</label><span id="spDept"></span>
                    </li>
                    <li>
                        <label>Designation</label><span id="spDes"></span>
                    </li>
                    <li>
                        <label>Requested Date</label><span id="spRD"></span>
                    </li>
                    <li>
                        <label>Approved Relieving Date </label><span id="spARD"></span>
                    </li>

                </ul>
            </div>
            <div class="col-sm-6 form-group">
                <h3 class="subheading">Handover Task List</h3>
                <div class="table-responsive">
                    <table class="table table-striped text-left mb-0 mt-0 vt-a" id="tabelHandover">
                        <thead>
                            <tr>
                                <th width="33">S.No </th>
                                <th>Task </th>
                                <th width="80">Priority</th>
                                <th width="300">Remark</th>
                                <th width="120">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                <td>1</td>
                                <td>Task 1</td>
                                <td>High</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae lectus ex. Suspendisse potenti.</td>
                                <td><a href="" data-toggle="modal" data-dismiss="modal" data-target="#remark"><i class="fas fa-edit"></i>Edit Remark</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Task 2</td>
                                <td>High</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae lectus ex. Suspendisse potenti.</td>
                                <td><a href="" data-toggle="modal" data-dismiss="modal" data-target="#remark"><i class="fas fa-edit"></i> Edit Remark</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Task 3</td>
                                <td>Low</td>
                                <td></td>
                                <td><a href="" data-toggle="modal" data-dismiss="modal" data-target="#remark"><i class="fas fa-plus"></i>Add Remark</a></td>
                            </tr>*@
                        </tbody>
                    </table>


                </div>
            </div>


            <div class="col-sm-12 text-left">

                <button class="btn mtr-o-grn btn-l ripplelink " onclick="finalsubmit()"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit </button>
                <button type="button" class="btn cnl-btn btn-l ripplelink" id="btnclose" onclick="ShowLoadingDialog();window.location='@Url.Action("HandoverTaskList", new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/ExitEmployee/HandoverTaskList*0")  })';"><i class="fas fa-times"></i>Close</button>
                @*<button type="button" class="btn cnl-btn btn-l ripplelink"><i class="fas fa-times"></i>Close</button>*@
            </div>
        </div>
    </div>
    <!-- ENd -->
</div>

<div class="modal fade" id="remark">
    <div class="modal-dialog modal-dialog-centered modal-md ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" ><span id="HTask"> </span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Remark</label>
                        <textarea class="h-100 form-control" id="remarkInput"  placeholder="Explain Here"></textarea>
                    </div>
                    <div class="col-lg-12 text-center mt-3">
                        <button type="button" data-dismiss="modal" class="btn cnl-btn ripplelink  pull-right" data-toggle="modal"><i class="fas fa-times"></i> Close</button>
                        <button type="button" class="btn mtr-o-grn btn-l ripplelink pull-right" id="saveRemark" data-dismiss="modal">
                            <i class="fas fa-save"></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")
    <script src="~/assets/design/Scripts/AddInit.js?v=@clsApplicationSetting.GetWebConfigValue("Version")"></script>

    <script src="~/assets/design/scripts/DevScriptExit/AsginTask.js"></script>
    <script>
      



    </script>

}