
@{
    ViewBag.Title = "FinanceNOCList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Start -->
    <div class="inner-main defult-height p-3 pb-0">
        <h1 class="heading-one mb-3">Finance NOC Request List </h1>
        <div class="tab-main mb-3">
            <ul id="tabs" class="nav nav-tabs " role="tablist">
                <li class="nav-item"> <a id="tab-A" href="#pending" class="nav-link active ripplelink" data-toggle="tab" role="tab"><i class="fas fa-clock"></i>Pending </a> </li>
                <li class="nav-item"> <a id="tab-B" href="#process" class="nav-link ripplelink" data-toggle="tab" role="tab"><i class="fas fa-check"></i>Process</a> </li>

                <input type="hidden" value="@ViewBag.EMPID" id="hdfEMPID" />
                <input type="hidden" value="@ViewBag.Doctype" id="hdfdoctype" />
            </ul>
            <div id="content" class="tab-content shadow-box p-0" role="tablist">
                <div id="pending" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                    <div class="card-header" role="tab" id="heading-A">
                        <h5 class="mb-0">
                            <!-- Note: `data-parent` removed from here -->
                            <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">Pending<i class="fas fa-clock"></i></a>
                        </h5>
                    </div>

                    <!-- Note: New place of `data-parent` -->
                    <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
                        <div class="card-body p-0">
                            <!-- Start -->
                            <div class="table-responsive">
                                <table id="tabelpending" class="table mt-0  table-bordered dt-responsive nowrap tbltick new_width">
                                    <thead>
                                        <tr>
                                            <th width="33">S.No</th>
                                            <th width="100">Employee Code</th>
                                            <th>Employee Name</th>
                                            <th width="100">Location</th>
                                            <th width="100">Department</th>
                                            <th width="100">Designation</th>
                                            <th width="100">Relieving Date	</th>
                                            <th width="50">Days left</th>
                                            <th width="80">Action</th>
                                        </tr>
                                        <tr class="searchbar" role="row">
                                            <th class="searchhide"></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="searchhide"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                            <!-- End -->
                        </div>
                    </div>
                </div>
                <div id="process" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                    <div class="card-header" role="tab" id="heading-B">
                        <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">Process<i class="fas fa-check"></i></a> </h5>
                    </div>
                    <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
                        <!-- Start -->
                        <div class="table-responsive">
                            <table id="tabelapproved" class="table mt-0  table-bordered dt-responsive nowrap tbltick new_width">
                                <thead>
                                    <tr>
                                        <th width="33">S.No</th>
                                        <th width="100">Employee Code</th>
                                        <th>Employee Name</th>
                                        <th width="100">Location</th>
                                        <th width="100">Department</th>
                                        <th width="100">Designation</th>
                                        <th width="100">Relieving Date	</th>
                                        <th width="50">Days left</th>
                                        <th width="80">Action</th>
                                    </tr>
                                    <tr class="searchbar" role="row">
                                        <th class="searchhide"></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="searchhide"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <!-- End -->
                    </div>
                </div>






            </div>
        </div>

    </div>
    <!--
    ENd -->
</div>
<div class="modal fade" id="hv">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content ">
            <input type="hidden" value="" id="hdfid" />
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Employee Name </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <ul class="list-unstyled inline-li m-0 rqt-dtl">
                            <li><label>Requested by</label><label id="labelreqby"></label> </li>
                            <li><label>Req No</label><label id="labelreq"></label></li>
                            <li><label>Location</label><label id="labelloc"></label> </li>
                            <li><label>Department</label><label id="labeldept"></label></li>
                            <li><label>Designation</label><label id="labeldesg"></label> </li>
                            <li><label>Requested Date</label><label id="labelreqdate"></label></li>
                            <li><label>Relieving Date	 </label><label id="labelRdate"></label> </li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="tabelFinance" class="table mt-0  table-bordered vt-a dt-responsive nowrap tbltick new_width">
                                <thead>
                                    <tr>
                                        <th width="30">S.No</th>
                                        <th width="100">Department</th>
                                        <th width="200">Asset ID</th>
                                        <th>Date of Return</th>
                                        <th>Description</th>
                                        <th>Impact</th>
                                        <th>Status</th>
                                        <th width="500">Remarks</th>
                                        <th width="100">Recovered</th>
                                        <th width="100">Amount of Recovery</th>


                                    </tr>
                                </thead>
                                <tbody>
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>

                    
                </div>
            </div>
            <!-- Modal footer -->
            <div class="p-0 text-center ">
                <button type="button" class="btn mtr-o-grn btn-l " id="btnFinance" onclick="submitFinancedata()"><i class="fas fa-paper-plane"></i>Submit</button>
                <button type="button" class="btn cnl-btn ripplelink" data-dismiss="modal"><i class="fas fa-times"></i>Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="hvD">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content ">


            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Employee Name </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <ul class="list-unstyled inline-li m-0 rqt-dtl">
                            <li><label>Requested by</label><label id="labelsreqby"></label> </li>
                            <li><label>Req No</label><label id="labelsreq"></label></li>
                            <li><label>Location</label><label id="labelsloc"></label> </li>
                            <li><label>Department</label><label id="labelsdept"></label></li>
                            <li><label>Designation</label><label id="labelsdesg"></label> </li>
                            <li><label>Requested Date</label><label id="labelsreqdate"></label></li>
                            <li><label>Relieving Date	 </label><label id="labelsRdate"></label> </li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="tabelFinanceD" class="table mt-0  table-bordered vt-a dt-responsive nowrap tbltick new_width">
                                <thead>
                                    <tr>
                                        <th width="30">S.No</th>
                                        <th width="100">Department</th>
                                        <th width="200">Asset ID</th>
                                        <th>Date of Return</th>
                                        <th>Description</th>
                                        <th>Impact</th>
                                        <th>Status</th>
                                        <th width="500">Remarks</th>
                                        <th width="100">Recovered</th>
                                        <th width="100">Amount of Recovery</th>


                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
            <!-- Modal footer -->
            <div class="p-0 text-center ">

                <button type="button" class="btn cnl-btn ripplelink" data-dismiss="modal"><i class="fas fa-times"></i>Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")
    <script src="~/assets/design/Scripts/AddInit.js?v=@clsApplicationSetting.GetWebConfigValue("Version")"></script>
    <script src="~/assets/design/scripts/DevScriptExit/ExitNoc.js"></script>
    <script>



    </script>


}


