
@{
    ViewBag.Title = "StartExitProcess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("StartExitProcess", "ExitEmployee",
     new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/ExitEmployee/StartExitProcess") },
     new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget", OnFailure = "CloseLoadingDialog()", OnBegin = "ShowLoadingDialog();" },
 new { @id = "StartExitProcessFrom" })
 )
{
    <div class="inner-main defult-height pb-0">
        <input type="hidden" id="hdfid" value="@ViewBag.ID " />

        <div class="row">
            <div class="inner-main defult-height p-3 pb-0">
                <h1 class="heading-one mb-3">Resignation Request </h1>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <ul class="list-unstyled inline-li m-0 rqt-dtl">
                            <li>
                                <label>Req No</label>
                                <label id="labelreq"></label>
                            </li>
                            <li>
                                <label>Requested Date</label>
                                <label id="labelreqdate"></label>
                            </li>
                            <li>
                                <label>Requested by</label>
                                <label id="labelreqby"></label>
                            </li>



                            <li>
                                <label>Location</label>
                                <label id="labelloc"></label>
                            </li>
                            <li>
                                <label>Department</label>

                                <label id="labeldept"></label>
                            </li>
                            <li>
                                <label>Designation</label>

                                <label id="labeldesg"></label>
                            </li>

                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-4 form-group">
                        <label>Reason for Resignation</label>
                        <p id="pReason"></p>
                    </div>
                    <div class="col-xl-3 col-lg-4 form-group" data-popover-content="#comment" data-toggle="popover" data-placement="top" data-original-title="" title="">
                        <label>Employee's Comment on Resignation</label>
                        <p><span class="ellipsis-text" id="spanComment"></span><span class="cmt-view">View</span></p>
                        <div id="comment" style="display: none">
                            <div class="popover-body">
                                <button type="button" class="popover-close close"> <i class="fas fa-times"></i> </button>
                                <span id="spanFullComment"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-xl-3 col-lg-4 form-group align-self-end"><strong>Notice Period as per Policy: <span class="red-clr" id="NPAP"></span></strong></div>
                    <div class="col-xl-3 col-lg-4 form-group align-self-end" id="divNF"><strong>Employee proposed notice period: <span class="red-clr" id="EPNP"></span></strong>  </div>
                    <div class="col-sm-12"></div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 wh-575 form-group" id="divRDAP">
                        <label>Relieving date as per policy</label>
                        <p id="RDateP"></p>
                    </div>
                    <div class="col-xl-3 col-lg-4  col-sm-6 wh-575 form-group" id="divNFD">
                        <label>Employee Proposed Relieving Date</label>
                        <p id="ERDate"></p>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-xl-12 col-lg-12 form-group ">
                        <div data-popover-content="#comment1" data-toggle="popover" data-placement="top" data-original-title="" title="" id="divlevelComment">
                            <label>Reason for not accepting the notice period</label>
                            <p><span class="ellipsis-text" id="spanReasonNP"></span><span class="cmt-view">View</span></p>
                            <div id="comment1" style="display: none">
                                <div class="popover-body">
                                    <button type="button" class="popover-close close"> <i class="fas fa-times"></i> </button>
                                    <span id="spanFullReasonNP"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12"></div>
                        <div class="col-xl-6 col-lg-8 form-group ">
                            <hr>
                            <span class="hr-aps"><i class="fas fa-check"></i>Approval Comments</span>
                        </div>
                        <div class="col-sm-12"></div>

                        <div class="col-xl-6 col-lg-8 form-group">

                            <div class="table-responsive">
                                <table class="table table-striped  mb-0 mt-0 vt-a" id="TabellevelComment">
                                    <thead>
                                        <tr>
                                            <th width="50">Level</th>
                                            <th width="150">Name</th>
                                            <th width="100">Suggested Relieving Date</th>
                                            <th>Reason for Declining Notice Period</th>

                                            <th>Comment on Resignation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>

                    <div class="col-sm-12"></div>
                    <div class="col-xl-6 col-lg-8 form-group ">
                        <hr>
                        <span class="hr-aps"><i class="fas fa-list"></i>Suggestions</span>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-xl-6 col-lg-8 form-group">

                        <div class="table-responsive">
                            <table class="table table-striped mt-0 mb-0 vt-a" id="tblSuggestions">
                                <thead>
                                    <tr>
                                        @*<th class="w-10 text-left">S.No</th>*@
                                        <th class="w-100">Level</th>
                                        <th class="w-100">Name</th>
                                        <th class="w-200">Whether this person is fit for rehire?</th>
                                        <th>Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                            <td>1</td>
                                            <td>Level 1 </td>
                                            <td>Rakhi Miglani </td>
                                            <td>No</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis lacus a ex auctor cursus eu vitae urna.  </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Level 2 </td>
                                            <td>Amit </td>
                                            <td>Yes</td>
                                            <td> </td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-xl-6 col-lg-8 form-group ">
                        <hr>
                        <span class="hr-aps">
                            <i class="fas fa-list"></i>Handover Tasks
                        </span>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-xl-6 col-lg-8 form-group">
                        <div class="table-responsive">
                            <table class="table table-striped   mt-0 mb-0 vt-a" id="tblHandovertask">
                                <thead>
                                    <tr>
                                        <th width="30" class=" text-left">S.No</th>
                                        <th>Task</th>
                                        <th width="200">Employee Name</th>
                                        <th width="80">Priority</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                            <td>1</td>
                                            <td>Task 1 </td>
                                            <td>Rohit </td>
                                            <td>High </td>

                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Task 1</td>
                                            <td>Raj </td>
                                            <td>Low</td>

                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-12"></div>
                    <div class="col-sm-6  form-group " id="box" style="display: none;">
                        <div class="hglt-bg">
                            <div class="row ">
                                <div class="col-xl-3 col-lg-4 form-group">
                                    <label>Suggested Relieving Date <sup>*</sup></label>
                                    <input type="date" class="form-control" id="txtRdate" onchange="HideErrorMessage(this)">
                                    <span id="sptxtRdate" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                </div>
                                <div class="col-sm-9">
                                    <label>Reason for not accepting relieving date <sup>*</sup></label>
                                    <textarea class="form-control h-38" placeholder="Ener Reason" id="txtRNRD" onchange="HideErrorMessage(this)"></textarea>
                                    <span id="sptxtRNRD" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="divR" style="display:none">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 form-group ">
                                <hr>
                                <span class="hr-aps"><i class="fas fa-list"></i>Reason for Continuing</span>
                            </div>
                            <div class="col-sm-12">
                            </div>



                            <div class="col-xl-3 col-sm-6 wh-575 form-group">
                                <label>Attachment</label>
                                <p class="h-38 p-ctr">
                                    <button id="btnDownload1" onclick="DownloadFileRFP()" target='_blank' class='green-clr'><i class="fas fa-download float-right" data-toggle="tooltip" title="" data-original-title="Download"></i></button>
                                </p>
                            </div>
                            <div class="col-xl-3 col-lg-4 form-group " data-popover-content="#comment4" data-toggle="popover" data-placement="top" data-original-title="" title="">
                                <label>Reason </label>
                                <p><span class="ellipsis-text" id="spanRReason"></span><span class="cmt-view">View</span></p>
                                <div id="comment4" style="display: none">
                                    <div class="popover-body">
                                        <button type="button" class="popover-close close"> <i class="fas fa-times"></i> </button>
                                        <span id="spanFullRReason"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 text-left">
                        <button type="button" name="Command" value="Add" id="btnnotify" class="btn blk-gdn-btn btn-l ripplelink " data-toggle="modal" data-target="#nty"><i class="fas fa-sticky-note"></i>Notify</button>
                        <button class="btn mtr-o-grn btn-l ripplelink "  onclick="Startprocess()" id="btnstart" ><i class="fas fa-rocket"></i>Start Exit Process <span class="ink animate" style="height: 143px; width: 143px; left: 46.5px; top: -53.5px;"></span></button>
                        <button type="button" name="Command" id="btnR" value="Add" class="btn mtr-y-bg btn-l ripplelink " data-toggle="modal" data-target="#rfc"> <i class="fas fa-user-shield"></i> Record Resolution</button>
                        <button type="button" class="btn cnl-btn btn-l ripplelink" onclick="ShowLoadingDialog();window.location='@Url.Action("ExitProcessRequest", new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/ExitEmployee/ExitProcessRequest*0")  })';"><i class="fas fa-times"></i>Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal" id="nty">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Notify</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3 wh-575 form-group">
                        <label>Department</label>
                        <select class="form-control applyselect Mandatory" id="ddlDEP" onchange="HideErrorMessage(this)">
                        </select>
                        <span id="spddlDEP" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                    </div>
                    <div class="col-sm-3 wh-575 form-group">
                        <label>Employee</label>
                        <select class="form-control applyselect Mandatory" id="ddlEMP" onchange="HideErrorMessage(this)">
                        </select>
                        <span id="spddlEMP" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                 
                    </div>
                    <div class="col-sm-4 tr-575 form-group align-self-end ">
                        <button type="button" id="btnadd" class="btn green-clr  m-0" onclick="Addrow()"><i class="fas fa-plus"></i>Add</button>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="table-responsive">
                            <div id="tblnotify">

                            </div>
                            @*<table class="table table-striped  mb-0 mt-0 vt-a" id="tblnotify">
            <thead>
                <tr>
                    <th class="w-10 text-left">S.No</th>
                    <th class="w-100">Department</th>
                    <th>Employee Name</th>
                    <th class="w-80">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Sales </td>
                    <td class="w-200">Rohit </td>
                    <td><a href=""><i class="fas fa-trash-alt red-clr"></i>Delete</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sales</td>
                    <td>Raj </td>
                    <td><a href=""><i class="fas fa-trash-alt red-clr"></i>Delete</a></td>
                </tr>
            </tbody>
        </table>*@
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="p-0 text-center ">
                    <button type="button" class="btn cnl-btn ripplelink" data-dismiss="modal"><i class="fas fa-times"></i>Close</button>
                    <button type="button" class="btn mtr-o-grn btn-l" id="btnSN" onclick="SendNotification()"><i class="fas fa-paper-plane"></i>Send Notification</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="rfc">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content ">
            <input type="hidden" id="hdnUploadActualFileName" />
            <input type="hidden" id="hdnUploadNewFileName" />
            <input type="hidden" id="hdnUploadFileUrl" />
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Reason for Continuing</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Attachment</label>
                        <input type="file" id="txtAttachment" class="form-control " value="" onchange="UploadDocument()">
                        <input type="text" id="txtAttachmentfile" style="display:none" ; class="form-control" value="">
                        <span id="sptxtAttachmentfile" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>

                    </div>
                    <div class="col-sm-12 form-group">
                        <label>Reason<sup>*<sup></sup></label>
                        <input type="text" id="txtReason" class="form-control Mandatory" value="" onchange="HideErrorMessage(this)">
                        <span id="sptxtReason" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="p-0 text-center ">
                    <button type="button" class="btn cnl-btn ripplelink" data-dismiss="modal"><i class="fas fa-times"></i>Close</button>
                    <button type="button" class="btn mtr-o-grn btn-l" onclick="SaveRecord()"><i class="fas fa-paper-plane"></i>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")
    <script src="~/assets/design/Scripts/AddInit.js?v=@clsApplicationSetting.GetWebConfigValue("Version")"></script>
    <script src="~/assets/design/scripts/DevScriptExit/StartExitProcess.js"></script>
    <script src="~/Areas/DigitalLibrary/DevScript/ComboFill.js"></script>
    <script>



    </script>


}